absl-py==2.3.1
accelerate==1.8.1
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.10.0
attrs==25.4.0
backoff==2.2.1
bcrypt==5.0.0
bitsandbytes==0.48.1
blinker==1.9.0
build==1.3.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
chroma-hnswlib==0.7.3
chromadb==0.5.3
click==8.3.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.3
cramjam==2.11.0
cycler==0.12.1
datasets==4.3.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
durationpy==0.10
einops==0.8.1
email-validator==2.3.0
exllamav2 @ https://github.com/turboderp-org/exllamav2/releases/download/v0.3.2/exllamav2-0.3.2+cu128.torch2.7.0-cp311-cp311-win_amd64.whl#sha256=3ff247146809c63ada0548056ccb1637366a8e022425ddfc24e5b96392709251
exllamav3 @ https://github.com/turboderp-org/exllamav3/releases/download/v0.0.11/exllamav3-0.0.11+cu128.torch2.7.0-cp311-cp311-win_amd64.whl#sha256=70b3f11b3a2790c26d48ade4ce625ffc75b75eb44d11c4e3e82791b749b14b55
fastapi==0.111.0
fastapi-cli==0.0.14
fastparquet==2024.11.0
ffmpy==0.6.4
filelock==3.20.0
fla-core==0.3.2
flash-linear-attention==0.3.2
flash_attn @ https://github.com/kingbri1/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu128torch2.7.0cxx11abiFALSE-cp311-cp311-win_amd64.whl#sha256=c2501b8240cc34b95a3d13c9807aca49d0bfc0eac76ae002dd177cdbea250024
Flask==3.1.2
flask-cloudflared==0.0.14
flatbuffers==25.9.23
fonttools==4.60.1
formatron==0.5.0
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
general_sam==1.0.3
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.41.1
googleapis-common-protos==1.71.0
gradio==4.37.2
gradio_client @ https://github.com/oobabooga/gradio/releases/download/custom-build/gradio_client-1.0.2+custom.1-py3-none-any.whl#sha256=c7b8d6a44f76ed874a7b76fc28be48b2155d44868b1eb1a693414dbdbee90496
grpcio==1.76.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kbnf==0.4.2
kiwisolver==1.4.9
kubernetes==34.1.0
llama_cpp_binaries @ https://github.com/oobabooga/llama-cpp-binaries/releases/download/v0.56.0/llama_cpp_binaries-0.56.0+cu124-py3-none-win_amd64.whl#sha256=4d2264ca6cbe8e3dadd7c8fc1540c5932ce9a5b34ecf8c981b70fb4ca5c7ed76
llama_cpp_python==0.2.90
lxml==6.0.2
marisa-trie==1.3.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.7
mdurl==0.1.2
mmh3==5.2.0
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.16
narwhals==2.9.0
networkx==3.5
ninja==1.13.0
numpy==2.3.4
oauthlib==3.3.1
onnxruntime==1.23.2
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-instrumentation-asgi==0.59b0
opentelemetry-instrumentation-fastapi==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-util-http==0.59b0
orjson==3.11.4
overrides==7.7.0
packaging==25.0
pandas==2.3.3
peft==0.17.1
pillow==10.4.0
platformdirs==4.5.0
pluggy==1.6.0
posthog==6.7.10
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.1
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.0
pydantic_core==2.33.0
pydub==0.25.1
Pygments==2.19.2
pyparsing==3.2.5
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytest==8.4.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.2.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2025.10.23
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.2.0
rich-toolkit==0.15.1
rpds-py==0.28.0
rsa==4.9.1
ruff==0.14.2
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
semantic-version==2.10.0
sentence-transformers==2.7.0
sentencepiece==0.2.1
sentry-sdk==2.42.1
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sse-starlette==1.6.5
starlette==0.37.2
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
tomlkit==0.12.0
torch==2.9.0
tqdm==4.67.1
transformers==4.57.1
triton-windows==3.5.0.post21
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
urllib3==2.3.0
uvicorn==0.38.0
wandb==0.22.2
watchfiles==1.1.1
websocket-client==1.9.0
websockets==11.0.3
Werkzeug==3.1.3
wrapt==1.17.3
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
